name: WallboxSessionImporter - Release Drafter

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/workers/WallboxSessionImporter/**
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
        - src/workers/WallboxSessionImporter/**
  
permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commitish: main
          config-name: release-drafter-WallboxSessionImporter.yml
